@model IEnumerable<Top2000.EF.spSongList_Result>

@{
    ViewBag.Title = "Index";
}

<div class="bg-dark d-flex" style="width:100%">
	<div class="mr-auto">
		<h5 class="text-white">Lijst 2018</h5>
	</div>
	<div class="mr-auto">
		@using (Html.BeginForm())
		{
			@Html.DropDownList("jaar", new SelectList(ViewBag.Years, "jaar"), new { onchange = "this.form.submit();" })
		}
		@using (Html.BeginForm("ArtistYear", "Rankings"))
		{
			@Html.DropDownList("artist", new SelectList(ViewBag.artist, "artist"), new { onchange = "this.form.submit();" })
		}
	</div>
	<div class="ml-auto">
		@using (Html.BeginForm("SearchCase", "Rankings", FormMethod.Get))
		{
			<b style="color:white; float:right">
				<b>Search by: </b>
				@Html.RadioButton("searchBy", "songname", true)<text>songName</text>
				@Html.RadioButton("searchBy", "artistname")<text>artistname</text><br />
				Search:
				@Html.TextBox("value")<input type="submit" value="Search" />
			</b>
		}
	</div>
</div>
	<table class="table table-light table-striped">
		<thead class="thead-light">
			<tr>
				<th>
					NR.
				</th>
				<th>
					VERLOOP
				</th>
				<th>
					TITEL
				</th>
				<th>
					ARTIEST
				</th>
				<th>
					JAAR
				</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.RankingPosition)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Verloop)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SongName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ArtistName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.SongYear)
					</td>
				</tr>
			}
		</tbody>
	</table>
