@model IEnumerable<Top2000.EF.spSongList_Result>


@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nr.
        </th>
        <th>
            Liedje
        </th>
        <th>
            Artiest
        </th>
        <th>
            Jaar
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RankingPosition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtistName)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongYear)
            </td>
        </tr>
    }

</table>
